body {
    background-image: url("blue.jpeg");
    background-attachment: fixed;
    background-size: 1900px;
    position: relative;
}

img {
    width: 1300px;
    margin: 4em;
    transform: rotate(3deg);
}

.line1 {
    width: 870px;
    height: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    left: 0;
    right: 0;
    margin-top: 72.5em;
    margin-left: 11em;
    transform: rotate(0deg);
    box-shadow: 0px 15px 10px black;
    border-radius: 100%;
}

.line2 {
    height: 520px;
    width: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    left: 0;
    right: 0;
    margin-top: 39em;
    margin-left: 63.85em;
    transform: rotate(1.6deg);
    box-shadow: 50px 0px 5px rgba(0, 0, 0, 0.158);
}

.line3 {
    height: 50px;
    width: 50px;
    border-bottom-right-radius:70% ;
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    left: 0;
    right: 0;
    margin-top: 70.2em;
    margin-left: 63.5em;
    transform: rotate(3deg);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.39);
}

.line1-b {
    width: 870px;
    height: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    left: 0;
    right: 0;
    margin-top: 75.8em;
    margin-left: 11em;
    transform: rotate(-4deg);
    box-shadow: 0px 15px 10px black;
    border-radius: 100%;
}

.line2-b {
    height: 545px;
    width: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    left: 0;
    right: 0;
    margin-top: 43.7em;
    margin-left: 5em;
    transform: rotate(-2deg);
    box-shadow: 50px 0px 30px rgba(0, 0, 0, 0.534);
}

.line3-b {
    height: 100px;
    width: 100px;
    border-top-right-radius:30px ;
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    left: 0;
    right: 0;
    margin-top: 72.23em;
    margin-left: 8.85em;
    transform: rotate(177deg);
    box-shadow: 5px -6px -20px rgba(0, 0, 0, 0.849);
}

.surname {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 16.6em;
    margin-top: 31.1em;
    font-family: Arial;
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(92, 84, 84);
    letter-spacing: .6px;
    transform: rotate(0.51deg);
}

.names {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 16.5em;
    margin-top: 33.45em;
    font-family: Arial;
    font-size: 1.5em;
    font-weight: 600;
    color: rgba(65, 63, 63, 0.836);
    letter-spacing: .6px;
    transform: rotate(1deg);
}

.sex {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 16.4em;
    margin-top: 35.6em;
    font-family: Arial;
    font-size: 1.5em;
    font-weight: 600;
    color: rgba(66, 63, 63, 0.993);
    transform: rotate(1deg);
}

.nationality {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 16.5em;
    margin-top: 37.75em;
    font-family: Arial;
    font-size: 1.5em;
    font-weight: 600;
    color: rgba(65, 61, 61, 0.993);
    transform: rotate(1deg);
}

.id {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 16.5em;
    margin-top: 39.85em;
    font-family: Arial;
    font-size: 1.5em;
    font-weight: 600;
    color: rgba(61, 58, 58, 0.993);
    transform: rotate(1deg);
    letter-spacing: .50px;
}

.dob {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 16.5em;
    margin-top: 42em;
    font-family: Arial;
    font-size: 1.5em;
    font-weight: 600;
    color: rgba(46, 42, 42, 0.993);
    transform: rotate(1deg);
    letter-spacing: .50px;
}


.cob {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 16.5em;
    margin-top: 44.1em;
    font-family: Arial;
    font-size: 1.5em;
    font-weight: 600;
    color: rgba(58, 54, 54, 0.993);
    transform: rotate(1deg);
    letter-spacing: .50px;
}

.status {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 16.5em;
    margin-top: 46.2em;
    font-family: Arial;
    font-size: 1.5em;
    font-weight: 600;
    color: rgba(58, 54, 54, 0.993);
    transform: rotate(1deg);
    letter-spacing: .50px;
}

.doi {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 35em;
    margin-top: 33.75em;
    font-family: Arial;
    font-size: 1.3em;
    font-weight: 600;
    color: rgba(78, 75, 75, 0.788);
    transform: rotate(-1.6deg);
    
}