body {
    background-image: url("concrete-wall-structure-urban.jpg");
    background-attachment: fixed;
    background-size: 900px;
    position: relative;
}

img {
    width: 1900px;
    margin: 4em;
    transform: rotate(0deg);
}

.surname {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 20.5em;
    margin-top: 10.3em;
    font-family: Arial;
    font-size: 2em;
    font-weight: 600;
    color: rgba(26, 25, 25, 0.829);
    letter-spacing: .1px;
    transform: rotate(0.51deg);
}

.names {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 20.3em;
    margin-top: 12.7em;
    font-family: Arial;
    font-size: 2em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.719);
    letter-spacing: .5px;
    transform: rotate(0.9deg);
}

.sex {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 20.3em;
    margin-top: 14.75em;
    font-family: Arial;
    font-size: 2em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.76);
    letter-spacing: .5px;
    transform: rotate(0.9deg);
}

.nationality {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 20.25em;
    margin-top: 16.77em;
    font-family: Arial;
    font-size: 2em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.829);
    letter-spacing: .5px;
    transform: rotate(0.9deg);
}

.id {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 20.23em;
    margin-top: 18.9em;
    font-family: Arial;
    font-size: 2em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.76);
    letter-spacing: .7px;
    transform: rotate(0.9deg);
}

.dob {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 20.23em;
    margin-top: 21.1em;
    font-family: Arial;
    font-size: 2em;
    font-weight: 600;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    transform: rotate(0.9deg);
}


.cob {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 20.1em;
    margin-top: 23.2em;
    font-family: Arial;
    font-size: 2em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.767);
    letter-spacing: 1px;
    transform: rotate(0.9deg);
}

.status {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 20em;
    margin-top: 25.4em;
    font-family: Arial;
    font-size: 2em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.726);
    letter-spacing: 1.2px;
    transform: rotate(0.9deg);
}

.doi {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 32.6em;
    margin-top: 7em;
    font-family: Arial;
    font-size: 2em;
    font-weight: 600;
    color: rgba(7, 7, 7, 0.788);
    transform: rotate(-1deg);
    
}